.employeeContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    min-height: 60px;
    border-bottom: 1px solid var(--gray10-color);
  
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 13px;
  }

  .divInfoApi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.divInfoApi button {
  margin-right: 0.3rem;
}

.divJob,
.divContato {
display: none;
}
.divName {
    display: flex;
    gap: 24px;
    align-items: center;
  }


.divName h3 {
    font-size: 16px;
    font-weight: 400;
    color: var(--black-color);
  }
  
  .divName img {
    width: 34px;
    height: 34px;
    border-radius: 100%;
  }

  button {
    background-color: transparent;
    border: none;
  }

  .svgCharm {
    width: 30px;
    filter: invert(70%) sepia(100%) saturate(700%) hue-rotate(180deg)
      brightness(80%) contrast(90%);
  }

  /* estilos janela no mobile */

  .containerMobile {
    padding-top: 18px;
    padding-bottom: 30px;
    padding-right: 5px;
  }
  
  .containerMobile h4 {
    font-weight: 500;
  }
  
  .divCargo,
  .divDate,
  .divTel {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed var(--gray10-color);
    padding-top: 16px;
  }

  @media (min-width: 768px) {
    
    .employeeContainer {
        padding-left: 0;
      }

      .divInfoApi {
    display: grid;
    grid-template-columns: 0.6fr 0.3fr 1fr;
  }

  .divName {
    padding-left: 2rem;
    gap: 3rem;
  }

  .svgCharm {
    display: none;
  }

  .divJob {
    display: flex;
    padding-left: 0.3rem;
  }

  .divContato {
    display: flex;
    
    padding-left: 0.6rem;
    gap: 6.5rem;
  }

  .divJob h3 {
    font-weight: 400;
    font-size: 16px;
    text-align: end;
  }

    }

    @media (min-width: 1024px) {
    
        .divName {
            gap: 5.7rem;
            padding-left: 2.5rem;
          }
        
          .divJob {
            padding-left: 5rem;
          }
        
          .divContato {
            padding-left: 7.3rem;
            gap: 8.1rem;
          }
    
    }

    @media (min-width: 1280px) {

        .divName {
            gap: 6.6rem;
          }
        
          .divJob {
            padding-left: 7.6rem;
          }
        
          .divContato {
            padding-left: 14.5rem;
            gap: 10.3rem;
          }
    }